body{
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}

.headfootsection{
    background-color: #1f2937 ;
}

.header{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 16px;
}

.header .rightlinks{
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb;
}

.rightlinks li{
    list-style-type: none;
    text-decoration: none;
}

.heroarrange{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.heroarrange img{
    width:300px;
    border-radius: 4px;    
}

.herotitle{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.herotext{
    font-size: 18px;
    color: #e5e7eb;
}

.herocontainer{
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
}


button {
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background: #3882f6;
    color: white;
}

.infoheadtext{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
}

.content{
    display: flex;
    justify-content: center;
    margin: 0 48px;
    gap: 24px;
}

.content .card{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.content .card img{
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.content .card .description{
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}

.quote{
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    height: 200px;
    
}

.quote .text{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}